.about {
  border-top: 1px solid black;
  margin-block: 4px;
  /* padding-inline: 4px; */
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

p.skills {
  font-size: 1.8rem;
  font-family: "Times New Roman", Times, serif;
  margin-top: -25px;
}

#sk{
  margin-top: -350px;
}

.Link {
  text-decoration: none;
  color: black;
  position: relative;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  width: fit-content;
  position: relative;
  /* border: 1px solid rebeccapurple; */
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

h2:hover::after {
  width: 100%;
}



@media (max-width: 376px) {
  div.about {
    text-align: center;
  }

  h2 {
    font-size: 28px;
  }
}
