.Home {
  /* border: 1px solid red; */
  /* height: fit-content; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 20px 0px; */
  min-height: 100vh;
}
.main-line {
  color: #b3b3b5;
  font-size: 40px;
  font-family: serif;
}

.intro {
  /* border: 1px solid blue; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  text-align: center;
  margin-top: -48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  margin: 22px;
  font-size: 45px;
  font-family: serif;
}

.img {
  background-image: url("../assets/aasim1.png");
  background-position: top;
  background-size: cover;
  /* border: 1px solid red; */
  width: 30%;
  height: 380px;
  /* border-radius: 100%; */
  /* border-radius:; */
  /* object-fit: cover; */
  /* box-shadow: 10px 10px 10px #b3b3b5; */
}

@media (max-width: 376px) {
  div.intro {
    /* border: 1px solid red; */
    font-size: 13px;
    margin-top: -40px;
  }

  div.img{
    width: 180px;
    height: 180px;
  }


}
