#p {
  margin-top: 10px;
  /* border: 1px solid red; */
  height: 100vh;
  width: 100%;
}

#pro {
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

#pro::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

#pro:hover::after {
  width: 100%;
}

#projects {
  margin-top: 25px;
  /* height: fit-content; */
  /* width: fit-content; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

#img1 {
  background-image: url("../assets/project1.png");
}

#img2 {
  background-image: url("../assets/project2.png");
}

#img3 {
  background-image: url("../assets/project3.png");
}

#img4 {
  background-image: url("../assets/ecommerce.png");
}

.image {
  border-top: 1px solid gray;
  height: 120px;
  background-position: top;
  background-size: cover;
  text-align: center;
}

.project {
  width: 30%;
  /* margin-top: 30px; */
  height: 180px;
  /* overflow: hidden; */
  /* border-bottom: 1px solid black; */
}

.About h2 {
  margin: 0;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 5px;
  border-bottom: 1px solid black;
}

.pLinks {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  position: relative;
}
.pLinks::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.pLinks:hover::after {
  width: 100%;
}

@media (max-width: 376px) {
  .pro {
    margin-left: 10px;
  }
  .project1 h2 {
    font-size: 20px;
  }
  .project2 h2 {
    font-size: 20px;
  }
  .project3 h2 {
    font-size: 20px;
  }
  .project1 {
    height: fit-content;
  }
  .project2 {
    height: fit-content;
  }
  .project3 {
    height: fit-content;
  }
  .img1 {
    height: 80px;
  }
  .img2 {
    height: 80px;
  }
  .img3 {
    height: 80px;
  }
  .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 10px;
    margin-top: 35px;
  }
}
